html,
body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

body {
	background-color: #000;
	margin: 0;
	padding: 8px;
}

#map-layers {
	outline: 1px purple solid;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#map-layers svg {
	width: 100%;
	height: 100%;
}

path {
	fill: #FFF;
}

path:hover {
	fill: #888;
}